<html>

<head>
    <link href="./template.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="root">
        <div class="leftCol open">
            <div class="columnList">
                <div id="budgetLink" class="listTitle">
                    Budget
                </div>
                <div id="reportLink" class="listTitle">
                    Reports
                </div>
                <div class="account" id="allAccounts">
                    <div class="accountName">
                        All Accounts
                    </div>
                    <div class="accountBalance">
                        $XX,XXX,XX
                    </div>
                </div>
            </div>
            <div class="columnList">
                <div class="listTitle">
                    Budget Accounts
                </div>
                <div class="account">
                    <div class="accountName">
                        1st Bank Savings
                    </div>
                    <div class="accountBalance">
                        $XX,XXX,XX
                    </div>
                </div>
                <div class="account">
                    <div class="accountName">
                        CitiCard Visa
                    </div>
                    <div class="accountBalance">
                        -$X,XXX.XX
                    </div>
                </div>
                <div class="account">
                    <div class="accountName">
                        USAA Checking
                    </div>
                    <div class="accountBalance">
                        $X,XXX.XX
                    </div>
                </div>
                <div class="account">
                    <div class="accountName">
                        Visa Card
                    </div>
                    <div class="accountBalance">
                        $XX,XXX.XX
                    </div>
                </div>
            </div>
            <div class="columnList">
                <div class="listTitle">
                    Off Budget Accounts
                </div>
                <div class="account">
                    <div class="accountName">
                        Chase Amazon Visa
                    </div>
                    <div class="accountBalance">
                        $XX,XXX.XX
                    </div>
                </div>
            </div>
            <div>Add Account</div>
        </div>
        <!--Reports Module-->
        <!--Budget Module-->
        <!--Ledger Module-->
        <div class="ledgerModule">
            LEDGER MODULE
        </div>
    </div>

</body>

</html>